.wp-block-tiles {
	width: 100%;
	display: grid;

	@for $i from 1 through 4 {
		&[data-ideal-row-count="#{$i}"] {
			grid-template-rows: repeat(#{$i}, 1fr);
		}
	}

	@for $i from 1 through 6 {
		&[data-ideal-col-count="#{$i}"] {
			grid-template-columns: repeat(#{$i}, 1fr);
		}

		.wp-block-heading {
			grid-column: span #{$i};
		}
	}
}
